<div id="main" class="<%= item.layout %>" itemscope itemprop="blogPost">
  <% if (page.layout=='photo' && item.photos && item.photos.length){ %>
    <%- partial('gallery') %>
  <% } %>
	<article itemprop="articleBody"> 
		<%- partial('header') %>
	<div class="article-content">
		<% if( table&&(item.toc !== false) && theme.toc.article){ %>
		<div id="toc" class="toc-article">
			<strong class="toc-title"><%= __('contents') %></strong>
		<% if(item.list_number == false) {%>
		<%- toc(item.content,{list_number:false}) %>
		<% }else{ %>
			<%- toc(item.content) %>
		<% } %>
		</div>
		<% } %>
		<%- item.content %>  
		
	<div width="100%" align="center" align="center">
	<a href="http://www.dashangcloud.com/sh/878fe4" title="云打赏">
		<button style="-webkit-border-radius: 6; -moz-border-radius: 6; border-radius: 6px; font-family: Arial; color: #2d96d6; font-size: 20px; background: #fff; padding: 10px 20px 10px 20px; border: solid #2d96d6 1px; text-decoration: none;">云打赏<button>
	</a>
</div>

</div>

	</div>
		<%- partial('footer') %>   	       
	</article>
	<%- partial('pagination') %>
	<%- partial('comment') %>
</div>  